SMSProcess/Service References/ServiceVP/Gateway.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendMT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="src" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dest" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="msgbody" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="requestid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendMTResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendMTSoapIn">
    <wsdl:part name="parameters" element="tns:SendMT" />
  </wsdl:message>
  <wsdl:message name="SendMTSoapOut">
    <wsdl:part name="parameters" element="tns:SendMTResponse" />
  </wsdl:message>
  <wsdl:portType name="GatewaySoap">
    <wsdl:operation name="SendMT">
      <wsdl:input message="tns:SendMTSoapIn" />
      <wsdl:output message="tns:SendMTSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GatewaySoap" type="tns:GatewaySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMT">
      <soap:operation soapAction="http://tempuri.org/SendMT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GatewaySoap12" type="tns:GatewaySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMT">
      <soap12:operation soapAction="http://tempuri.org/SendMT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Gateway">
    <wsdl:port name="GatewaySoap" binding="tns:GatewaySoap">
      <soap:address location="http://gateway.vpmedia.vn/Gateway.asmx" />
    </wsdl:port>
    <wsdl:port name="GatewaySoap12" binding="tns:GatewaySoap12">
      <soap12:address location="http://gateway.vpmedia.vn/Gateway.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>