SMSProcess/Service References/ServiceVietinbank/VB2B_SMS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ReceiveMTResBDSD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlres" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceiveMTResBDSDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReceiveMTResBDSDResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceiveMTResOTP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlres" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceiveMTResOTPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReceiveMTResOTPResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReceiveMTResBDSDSoapIn">
    <wsdl:part name="parameters" element="tns:ReceiveMTResBDSD" />
  </wsdl:message>
  <wsdl:message name="ReceiveMTResBDSDSoapOut">
    <wsdl:part name="parameters" element="tns:ReceiveMTResBDSDResponse" />
  </wsdl:message>
  <wsdl:message name="ReceiveMTResOTPSoapIn">
    <wsdl:part name="parameters" element="tns:ReceiveMTResOTP" />
  </wsdl:message>
  <wsdl:message name="ReceiveMTResOTPSoapOut">
    <wsdl:part name="parameters" element="tns:ReceiveMTResOTPResponse" />
  </wsdl:message>
  <wsdl:portType name="VB2B_SMSSoap">
    <wsdl:operation name="ReceiveMTResBDSD">
      <wsdl:input message="tns:ReceiveMTResBDSDSoapIn" />
      <wsdl:output message="tns:ReceiveMTResBDSDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveMTResOTP">
      <wsdl:input message="tns:ReceiveMTResOTPSoapIn" />
      <wsdl:output message="tns:ReceiveMTResOTPSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VB2B_SMSSoap" type="tns:VB2B_SMSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReceiveMTResBDSD">
      <soap:operation soapAction="http://tempuri.org/ReceiveMTResBDSD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveMTResOTP">
      <soap:operation soapAction="http://tempuri.org/ReceiveMTResOTP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VB2B_SMSSoap12" type="tns:VB2B_SMSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReceiveMTResBDSD">
      <soap12:operation soapAction="http://tempuri.org/ReceiveMTResBDSD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveMTResOTP">
      <soap12:operation soapAction="http://tempuri.org/ReceiveMTResOTP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VB2B_SMS">
    <wsdl:port name="VB2B_SMSSoap" binding="tns:VB2B_SMSSoap">
      <soap:address location="http://vb2b-test.vietinbank.vn:10001/VB2B_SMS.asmx" />
    </wsdl:port>
    <wsdl:port name="VB2B_SMSSoap12" binding="tns:VB2B_SMSSoap12">
      <soap12:address location="http://vb2b-test.vietinbank.vn:10001/VB2B_SMS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>